p Dear #{first_name}

p Welcome to the Humanitarian ID community!

p Thanks for signing up to use Humanitarian ID for your login-purposes.We wanted to let you know that Humanitarian ID also provides a self-managed approach to contact lists in humanitarian situations. If you would like to add and manage your details on humanitarian contact lists as well as easily find other responders, follow these simple steps:

ol
  li Login:
    a(href='http://humanitarian.id/login') http://humanitarian.id/login.
  li Complete your global profile so colleagues can find and contact you (
    a(href='http://humanitarian.id/dashboard') http://humanitarian.id/dashboard
    | ).
  li Check into any country where you are responding. This step will add you to the contact list (
    a(href='http://humanitarian.id/checkin') http://humanitarian.id/checkin
    | ).

p Humanitarian ID community members are subject to our code of conduct. It's a short read, and we encourage you to be familiar with it.
  a(href='http://humanitarian.id/code-of-conduct') http://humanitarian.id/code-of-conduct

p If you would like to learn more about Humanitarian ID and be the first to hear about new features, visit
  a(href='http://humanitarian.id') http://humanitarian.id
  | , join our mailing list (
  a(href='http://humanitarian.id/subscribe') http://humanitarian.id/subscribe
  | ) and follow us on social media.

p(style='white-space:pre;')
  | The Humanitarian ID team
  | Site:
  a(href='http://humanitarian.id') http://humanitarian.id
  | 
  | Animation:
  a(href='http://humanitarian.id/animation') http://humanitarian.id/animation
  | 
  | Twitter:
  a(href='https://twitter.com/humanitarianid') https://twitter.com/humanitarianid
  | 
  | YouTube:
  a(href='http://humanitarian.id/youtube') http://humanitarian.id/youtube

hr.

p Bonjour #{first_name},

p Bienvenue dans la communauté Humanitarian ID !

p Merci pour votre inscription sur Humanitarian ID qui vous permet de vous connecter sur notre système. Nous souhaitons vous vous informer que Humanitarian ID vise aussi à fournir un système de gestion individuel des listes de contacts humanitaires. Si vous voulez ajouter et gérer vos détails sur des listes de contacts humanitaires, suivez les étapes suivantes :

ol
  li Connectez-vous sur::
    a(href='http://humanitarian.id/login') http://humanitarian.id/login.
  li Complétez votre profil global pour que vos collègues puissent vous retrouver et vous contacter (
    a(href='http://humanitarian.id/dashboard') http://humanitarian.id/dashboard
    | ).
  li Connectez-vous (check-in) au pays dans lequel vous répondez a une crise humanitaire. Cette étape vous ajoute automatiquement à la liste de contacts humanitaires (
    a(href='http://humanitarian.id/checkin') http://humanitarian.id/checkin
    | ).

p Les membres de la communauté Humanitarian ID sont obligés d’adhérer à notre code de conduite. Nous vous encourageons à le lire ! 
  a(href='http://humanitarian.id/code-of-conduct') http://humanitarian.id/code-of-conduct

p Si vous voulez en savoir plus sur Humanitarian ID et ses nouveautés, visitez 
  a(href='http://humanitarian.id') http://humanitarian.id
  | , suivez notre liste de diffusion (
  a(href='http://humanitarian.id/subscribe') http://humanitarian.id/subscribe
  | ) et suivez-nous sur les réseaux sociaux.

p(style='white-space:pre;')
  | L'équipe Humanitarian ID
  | Site:
  a(href='http://humanitarian.id') http://humanitarian.id
  | 
  | Animation:
  a(href='http://humanitarian.id/animation') http://humanitarian.id/animation
  | 
  | Twitter:
  a(href='https://twitter.com/humanitarianid') https://twitter.com/humanitarianid
  | 
  | YouTube:
  a(href='http://humanitarian.id/youtube') http://humanitarian.id/youtube
