extends layout

block content
  .main
    include adminToolbar.jade
    .container
      h1= title
      h2 Confirm: #{action.label}

      .container.main
        .row
          include confirmForm.jade
