extends layout
block vars
  - var bodyClass = 'error-page'
block content
  .container.main
    .row
      .col-md-2.text-center
        img(src='images/error.png', alt='Error', style='width: 100px;')
      .col-md-8
        h2 Oops !
        p !{message}
