.contactsid-app .spinner .three-dots-row-spinner {
  background-color: #0fa4de;
}
.contactsid-app .cg-busy .spinner {
  float: left;
}
.contactsid-app .cg-busy .spinner .three-dots-row-spinner {
  margin: 10px;
}
.contactsid-app .cg-busy .cg-busy-default-text {
  margin: 17px 12px 6px 55px;
  font-size: 16px;
  color: #555;
  text-align: left;
  max-width: 400px;
}
.contactsid-app p {
  margin: 0 0 9px;
}
.contactsid-app .active-countries-container li a,
.contactsid-app .active-operations-container li a,
.contactsid-app .active-contacts-container li a {
  display: block;
}
.contactsid-app .list-content {
  margin-top: 20px;
}
