p(style='white-space:pre;')
      | L'équipe Humanitarian ID
      | Site:
      a(href='http://humanitarian.id') http://humanitarian.id
      | 
      | Animation:
      a(href='http://humanitarian.id/animation') http://humanitarian.id/animation
      | 
      | Twitter:
      a(href='https://twitter.com/humanitarianid') https://twitter.com/humanitarianid
      | 
      | YouTube:
      a(href='http://humanitarian.id/youtube') http://humanitarian.id/youtube
